.testimonials {
    grid-column: 2/3;
    display: grid;
    gap: 1.5rem;
    margin: 3rem 1.5rem;
}

.violet {
    background: $moderateVioler url(../images/bg-pattern-quotation.svg) top right 15% no-repeat;
}

.grey {
    background-color: $darkGrayBlue;
}

.white {
    background-color: $white;
}

.black {
    background-color: $darkBlackBlue;
}

.article-header {
    @include flex(center, start, row);
    gap: 1.1rem;
    margin-bottom: .8rem;
    img {
        border: .2rem solid $transparentWhiteHeading;
        border-radius: 50%;
        width: 2rem;
        height: auto;
    }
}