//colors
$moderateVioler: hsl(263, 55%, 52%);
$darkGrayBlue: hsl(217, 19%, 35%);
$darkBlackBlue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
$lightGray: hsl(0, 0%, 81%);
$lightGrayBlue: hsl(210, 46%, 95%);


$transparentWhiteHeading: hsla(0,0%,100%,.5);
$transparentWhiteComment: hsla(0,0%,100%,.7);

$transparentBlackHeading: hsla(219, 29%, 14%,.5);
$transparentBlackComment: hsla(219, 29%, 14%,.7);